/* Basic styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin: 0;
  }

/* Page padding */
header, main, footer {
  padding: 15px;
  max-width: 1100px;
  margin: 0 auto;
  }

.header {
  background: #8cb9af;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* padding: 15px 0; */
  flex-direction: column;
  border-radius: 3px;
}

.header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header nav {
  margin-top: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header h1 {
  color: #000000;
  font-size: 1.55em;
  margin-bottom: 10px;
  text-align: center;
}

.header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 30px; /* To adjust space between the nav links */
  padding-right: 20px; /* Additional padding to separate the links */
  transition: all 0.3s ease; /* Smooth transition on hover */
}

/* .header nav a.custom-color {
  color: #c82b2b;
} */

.header nav a:hover {
  color: #a73535;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 15px;
}

.header nav a.active {
  color: #070707;
}

main h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

main p {
  font-size: 1.125rem;
  text-align: justify;
  line-height: 1.5;
}

main ul li {
  font-size: 1rem;
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.4rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

code {
  color:#b82020;
  /* font-family: Consolas,"courier new"; */
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px;
}

/* Footer styles */
footer {
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo {
  height: 50px;
  margin: 0 1rem;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

pre {
  background-color: #e8f1f7;
  padding: 20px;
  border-radius: 6px;
  overflow-x: auto;
}

hr.custom {
  border: none;
  border-top: 1px solid lightgray; 
  margin: 20px 0;
  height: 1px;
}

.highlight {
  font-weight: bold;
  color: #007bff;
}

.download-button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #165dbb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.logo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  /* border-top: 1px solid #ccc; */
  /* border-bottom: 1px solid #ccc; */
}

.logo-row img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 10px;
}

.logo-row a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 22px;
}

/* .logo-row a span {
  display: block;
  margin-top: 8px;
} */

.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #dbe0e4;
  padding-top: 20px;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar-heading {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  padding: 10px 15px;
  border-radius: 8px;
}

.sidebar ul li a:hover {
  background-color: #a87841;
  color: white;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #cdd5db;
  color: rgb(22, 23, 24);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #8396aa;
}

.back-to-top i {
  margin-right: 5px;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #dbe0e4;
}

.sub-menu a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 8px;
}

.sub-menu a:hover {
  background-color: #4b7ba3;
  color: white;
}

.download-button {
  background-color: #2671a3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #397c49;
}